.mainContent {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}
.videoCall {
  height: 10em;
  width: 10em;
  background-color: aquamarine;
}
.game {
  height: 10em;
  width: 10em;
  background-color: thistle;
  display: none;
  flex-grow: 1;
}

.instructions {
  background-color: turquoise;
}
